<?xml version='1.0' encoding='UTF-8'?>
<launch>
    <arg name="world_name" default="city"/>
    <arg name="details" default="quality"/>
    <!-- car_model options: lincolm, seat -->
    <arg name="car_model" default="lincolm"/>
    <!-- control_type options: keyboard, gamepad, autonomous -->
    <arg name="control_type" default="keyboard"/>
    <arg name="rviz_visualization" default="false"/>

    <include file="$(find go_car_gazebo)/launch/load_gazebo_simulation.launch">
        <arg name="world" value="$(arg world_name)"/>
        <arg name="details" value="$(arg details)"/>
        <arg name="car_model" value="$(arg car_model)"/>
    </include>

    <node name="hdl_graph_slam_launch_delayer" pkg="go_car_bringup" type="delay_execution.sh" args="20 go_car_nav hdl_graph_slam.launch" output="screen"/>

    <group unless="$(eval control_type == 'autonomous')">
        <include file="$(find go_car_manual_control)/launch/manual_control.launch">
            <arg name="type" value="$(arg manual_control_type)"/>
        </include>
    </group>
    <group if="$(eval control_type == 'autonomous')">
        <node name="move_base_launch_delayer" pkg="go_car_bringup" type="delay_execution.sh" args="20 go_car_nav move_base.launch" output="screen"/>
    </group>

    <group if="$(arg rviz_visualization)">
        <node name="rviz_launch_delayer" pkg="go_car_bringup" type="delay_execution.sh" args="20 go_car_bringup open_rviz.launch" output="screen"/>
    </group>

</launch>
