<?xml version='1.0' encoding='UTF-8'?>
<launch>
    <arg name="world_name" default="city"/>
    <arg name="manual_control_type" default="keyboard"/>
    <!-- options: keyboard, gamepad -->

    <include file="$(find go_car_gazebo)/launch/load_gazebo_simulation.launch">
        <arg name="world" value="$(arg world_name)"/>
    </include>

    <include file="$(find go_car_manual_control)/launch/manual_control.launch">
        <arg name="type" value="$(arg manual_control_type)"/>
    </include>

</launch>